.main{

    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game{
    background: rgb(255, 255, 255);
    width: 40%;
    height: 500px;
    border-radius: 15px;
display: grid;
    gap: 5px;
grid-template-columns: repeat(3, 1fr);
}

.game .box{

    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.O {
    position: fixed;
  width: 100px;
  height: 100px;
  border: 8px solid #2196f3; /* لون أزرق */
  border-radius: 50%;        /* يخليها دايرة */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(33,150,243,0.6);
  transition: 0.5s;
  opacity: 0;
}
.op{

    position: fixed;
    bottom: 5px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    
}
.op button{
    background: rgb(34, 32, 32);
    width: 80px;
    height: 80px;
    border-radius: 15px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}
.op button:hover{
        background: rgb(82, 77, 77);
}

.X {
  position: fixed;
  width: 130px;
  height: 130px;
}

.X::before,
.X::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 8px;
  height: 100%;
  background: #f44336; /* لون أحمر */
  transform-origin: center;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(244,67,54,0.6);
}

.X::before {
  transform: rotate(45deg);
}

.X::after {
  transform: rotate(-45deg);
}


#activ{
    background: rgb(8, 17, 138);
}


.mode{
    width: 40%;
    height: 50px;
    background: rgb(53, 49, 49);
    position: fixed;
    top: 6px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.WIN{
    width: 40%;
    height: 400px;
    background: rgb(54, 51, 51);
    position: fixed;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    color: yellow;
    
}

.OK{
width: 100px;
height: 70px;
border-radius: 50%;
border: 0;
 border-radius: 20px;
     background: rgb(0, 0, 0);
cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.OK:hover{
 background: rgb(82, 77, 77);
}


.textWIN{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



        @media (max-width: 768px) {
           .game {width: 100%;}
           .O{
            width: 50px;
            height: 50px;
           }
            .X{
            width: 50px;
            height: 50px;
           }
           .WIN {
    width: 100%;
           }
        }