
 
 body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
 }

 
 
 header{
border: 1px solid rgba(0, 0, 0, 0.363);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    width: 100%;
 }





.Search{
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 100px;
}

.input{
    width: 400px;
    font-size: 20px;
    padding: 9px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.582);
    background: fixed;

}

  .logo img{
    width: 350px;


 }


 .btnSearch{
    position: relative;
    right:55px;
    top: 1px;

    font-size: 17px;
    padding: 7px;
    background: fixed;
        border:0;
            border-radius: 12px;
            transition: .5s;
            cursor: pointer;
            font-weight: 500;
 }


 .list ul{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
gap: 100px;
padding: 10px;
 }
    .list ul a{
        color: black;
        cursor: pointer;
        transition: .5s;
        
    }
    .list ul a:hover{
            transform: scale(1.2);
    }

.p1{
  width:270px;          
  white-space: normal;    
  word-wrap: break-word;   
    
}
.p1:hover{
cursor:pointer;
border-bottom:1px solid rgba(0, 0, 0, 0.918);
}
.p2{
border: 1px solid rgba(0, 0, 0, 0.397);
    transition: .5s;
}
.p2:hover{
    color:green ;
    cursor:pointer;
}
.divp{
    border: 1px solid rgba(0, 0, 0, 0.205);
    height: 200px;

      cursor: default;
      border: 1px solid rgba(0, 0, 0, 0.397);
      padding: 5px;
      border-radius: 14px;
}

  .btnSearch:hover{
 
    transform: scale(1.2);

  }


  .main{

        height: 85%;
   
  }
 

  .cont{

    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1px;
      flex-wrap: wrap;


    
  }
  .item{
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 30px;
    margin-top: 30px;
  }


.item p {
font-family: ui-monospace;
      cursor: default;
font-weight: bold;
      padding: 5px;
      border-radius: 14px;
}
.numCart{
 position: static;
    background: orange;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: none;
    justify-content: center;
    align-items: center;

}


  .item img{
    width: 200px;
    transition: .5s;
    cursor: pointer;
  }

  .item img:hover{
    transform: scale(1.1);
  }


  .loader {
    display: block;
    z-index: 999;
    position: fixed;
    top: 40%;
    right: 50%;
 width: 50px;
  height: 50px;
  border: 5px solid #ccc;          /* لون الخلفية */
  border-top: 5px solid #0044ff;   /* لون الدوران */
  border-radius: 50%;              /* دائرة */
  animation: spin .5s linear infinite;
  margin: 100px auto;              /* توسيط */
}

/* حركة الدوران */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (max-width: 600px) {
html, body {
  
  overflow-x: hidden;
}

  header{
    width: 500px;
  }
  .logo  img{
    width: 200px;
  }

  ul{
    position: relative;
    left: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;


  }
    .input{
      top: 75px;
      right: 400px;
      position: relative;
    width:300px;
 
  }
  .btnSearch{
    top: 77px;
      right: 450px;
      position: relative;
  }

}

/* تابلت */
@media (min-width: 601px) and (max-width: 992px) {

  .input{
    width:200px;
    margin-left: 50px;
  }
  .logo{
    width: 200px;
  }
  .cont{
    gap: 100px;
  }
  ul{
    margin-left: 30px;
  }
  
}

