body{
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}


.main{
    background: rgb(77, 76, 76);
    width: 600px;
    height: 550px;
    border-radius: 20px;

}
header{
    background: rgb(126, 124, 124);
    width: 100%;
    height: 70px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

header ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

header ul li{
    cursor: pointer;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;

}

header ul li:hover{
    cursor: pointer;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;

}
.con{

    height:480px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;


}

.con div p{

    padding: 10px;
    font-size: 16px;
    font-weight: bold;
   

}
.W{

    padding: 10px;
    font-size: 16px;
    font-weight: bold;
   

}
.pTime{
 font-size: 40px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  color: black;

  animation: shake 3s infinite;
}



.say {
  font-size: 40px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
  color: #00d9ff;
  text-shadow: 0 0 10px #00d9ff, 0 0 20px #00d9ff;
  animation: glow 1.5s infinite alternate, shake 3s infinite;
}

/* تأثير اللمعة */
@keyframes glow {
  from {
    text-shadow: 0 0 5px #00d9ff, 0 0 10px #00d9ff, 0 0 15px #0088ff;
  }
  to {
    text-shadow: 0 0 15px #00ffff, 0 0 30px #00d9ff, 0 0 45px #0099ff;
  }
}

/* اهتزاز بسيط */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-3px); }
  50% { transform: translateX(3px); }
  75% { transform: translateX(-2px); }
}





#active{
    cursor: pointer;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 20px;
    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    background: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
}


.TimesTop{
    background: gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url(./data/plus.png);
    background-position: center;
    background-size: contain;
    transition: 0.5s;
    
  
}

.TimesTop:hover{
    scale: 1.2;
  filter: drop-shadow(0px 0px 10px gray);
}

.TimesTopE{
background: rgb(0, 0, 0);
    width: 300px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 15px;
    cursor: pointer;
    background-position: center;
    background-size: contain;
    transition: 0.5s;
}

.TimesTopE:hover{
    
  filter: drop-shadow(0px 0px 10px gray);
}







.listTimetop{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.74);
    height: 400px;
    border-radius: 20px;
    
}

.boxTime{
    background: rgb(71, 67, 67);
    width: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    
    

}
.time700{
    color: rgb(136, 135, 135);
        cursor: pointer;

}


.active1{
    background-color: green;
}
.active2{
    color: white;
}

.saveBtn{
    height:50px ;
    border-radius: 20px;
    font-size: 19px;
    font-weight: bold;
    border: 0px;
    width: 100px;
    cursor: pointer;
}

.btntime700{
    border-radius: 5px;
    background: rgb(66, 62, 62);
    border: 0px;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.692);
    cursor: pointer;
    transition: 0.4s;
}

.btntime700:hover{
        color: rgb(255, 255, 255);
            background: rgb(255, 0, 0);
}
.go{
    position: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    align-items: center;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.74);
    height: 300px;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    
}
.OK{
    height:50px ;
    border-radius: 20px;
    font-size: 19px;
    font-weight: bold;
    border: 0px;
    width: 100px;
    cursor: pointer;
}
.minDivR{
   margin: 5px;
   
    
}

.t1_99{
    font-size: 50px;
}


.turnOn{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0px; 
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s;
    cursor: pointer;
    font-weight: bold;
}

.turnOn:hover{
    box-shadow: 0 0 5px white;
    background: rgb(160, 160, 160);
}

.reset{
        width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0px; 
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.4s;
    cursor: pointer;
    font-weight: bold;
}
.reset:hover{
    box-shadow: 0 0 5px white;
    background: rgb(160, 160, 160);
}

.allbtn{
    display: flex;
    gap: 20px;
    margin-bottom: 100px;
}


.imgadmin{
    width: 200px;
    border-radius: 20px;
    box-shadow: 0 0 60px black;
}

.adminNa{
    text-shadow: 3px 3px 5px black;
}


@media (max-width: 480px) {
 
  .main {
    width: 100%;
    margin-top: 100px;
    border-radius: 0;
  }

  header ul li {
    width: 60px;
    font-size: 18px;
  }

  .pTime, .say {
    font-size: 24px;
  }
.listTimetop {
    width: 90%;
}
  .TimesTop {
    width: 60px;
    height: 60px;
  }

  .TimesTopE {
    width: 90%;
    font-size: 20px;
  }
}
