body{
    margin: 0;
    padding: 0;
    background: url("./data/so-about-3-days-ago-i-posted-a-wallpaper-of-all-horror-v0-lg9m4qag3xq81.jpg");

overflow-x: hidden;
}

.awm{
    cursor: pointer;
    
}

header{
    background: rgb(0, 0, 0);
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.inputs{
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.inputs input{
   padding: 15px;
    border: 0;
    border-radius: 30px;
    width: 500px;
    font-size: 30px;
    font-weight: 300;
    height: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.inputs button{
    position: relative;
    left: -60px;
    width: 60px;
    height: 60px;
    border: 0;
    background: fixed;
    cursor: pointer;
    
}.inputs button img{
    

    width: 30px;
    height: 30px;
    transition: 0.5s;
    
}

.inputs button img:hover{
    filter: brightness(0.5);
    transform: scale(1.3);

  
    
}

.main{
    background: #0e1116a1;
    margin: 0px;
    height: auto;
    
}


.item{
height: 460px;
   display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  
}

.item button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border: 0;
    background: fixed;
    
}
.item button svg{
    cursor: pointer;
    margin-top: 100px;
    transition: .5s;

}

.item button svg:hover{
    filter: brightness(0.5);

}

.cont{
    padding: 20px;
    background: rgb(20, 20, 20);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 410px;
    margin-top: 100px;
     overflow-x: auto;
    scroll-behavior: smooth;
gap: 20px;
    border-radius: 20px;
}
.cont::-webkit-scrollbar {
  display: none;      
         }        



.mainM{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 380px;
}


.mainM img{
width: 300px;
height: 400px;
border-radius: 20px;
cursor: pointer;
transition: .5s;
}


.mainM img:hover{
    transform: scale(1.066);
    filter: blur(1px);
}

.mainM p {
  position: relative;
  bottom: 100px;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
width: 300px;
height: 70px;
display: flex;
justify-content: center;
align-items: end;
border-radius: 20px;
  /* التدرج */
background: rgba(26, 23, 23, 0.89);


  
}


footer{
    background: rgba(36, 36, 39, 0);
    height: 100px;
    width: 800px;
    margin-left: 400px;
    border-radius: 20px;
 
}

footer p{
    display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
   margin-top: 43px;
   color: white;
   font-size: 22px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
;

}


@media (max-width: 600px) {
  body,html {

    overflow-x: hidden;
  }
  
    .inputs input {
        position: relative;
        top: 70px;
        right: 100%;
width:300px;
    }
   
.inputs button {
        left: -450px;
        top: 70px;
  }
  .mainM p {
    width: auto;
  }
  footer {
    width: 50%;
    margin-left: 100px;
  }
  .cont {
    right: 0%;
    position: absolute;
    padding: 20px;
    background: rgb(20, 20, 20);
    width: 400px;
    display: flex
    
;
    justify-content: center;
    align-items: center;
    height: 410px;
    margin-top: 100px;
    overflow-x: auto;
    scroll-behavior: smooth;
    gap: 20px;
    border-radius: 20px;
}
.item button{
    z-index: 5;
}
}

/* التابلت */
@media (min-width: 601px) and (max-width: 992px) {
  body,html {

    overflow-x: hidden;
  }
  
  header{
  }
    .inputs input {
width:300px;
    }
      footer {
    width: 50%;
    margin-left: 100px;
  }
  
 
}




/* اللابتوب و الشاشات الكبيرة */
@media (min-width: 1024px) and (max-width:1440px) {
  body,html {

    overflow-x: hidden;
  }
  
  header{
    
    justify-content: space-between;
  }
  .cont {
    
    width:100%;
  }
  .item{
   justify-content: start;
  }
  footer {
    width: 90%;
    margin-left: 100px;
  }
}