 body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
 }
 #acthv{
              transform: scale(1.3);
 }
 
 header{
border: 1px solid rgba(0, 0, 0, 0.363);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
 }
.Search{
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 100px;
}
.re{
  position: relative;
border: 1px solid rgba(0, 0, 0, 0.363);
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
padding: 10px;
margin: 10px;
  border-radius: 19px;
  transition: .5s;
}
.re:hover{
  cursor: pointer;
  background: rgb(146, 146, 146);
}



 .totatl{
border-bottom: 1px solid rgba(0, 0, 0, 0.363);
         height: 5%;
         display: flex;
         justify-content: center;
         align-items: center;
  }





.input{
    width: 400px;
    font-size: 20px;
    padding: 9px;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.582);
    background: fixed;

}

  .logo img{
    width: 350px;


 }


 .btnSearch{
    position: relative;
    right:55px;
    top: 1px;

    font-size: 17px;
    padding: 7px;
    background: fixed;
        border:0;
            border-radius: 12px;
            transition: .5s;
            cursor: pointer;
            font-weight: 500;
 }


 .list ul{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
gap: 90px;
padding: 10px;
 }
 
    .list ul a{
        color: black;
        cursor: pointer;
        transition: .5s;
        
    }
    .list ul a:hover{
            transform: scale(1.2);
    }

.p1{
  width:270px;          
  white-space: normal;    
  word-wrap: break-word;   
    
}
.p1:hover{
cursor:pointer;
border-bottom:1px solid rgba(0, 0, 0, 0.918);
}
.p2{
border: 1px solid rgba(0, 0, 0, 0.397);
    transition: .5s;
}
.p2:hover{
    color:green ;
    cursor:pointer;
}
.divp{
    border: 1px solid rgba(0, 0, 0, 0.205);
    height: 200px;
      font-family: cursive;
      cursor: default;
      border: 1px solid rgba(0, 0, 0, 0.397);
      padding: 5px;
      border-radius: 14px;
}

  .btnSearch:hover{
 
    transform: scale(1.2);

  }


  .main{

        height: 85%;
  }

  .cont{

    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
      flex-wrap: wrap;


    
  }
  .item{
    width: 300px;
border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    gap: 30px;
    margin-top: 30px;
  }


.item p {
      font-family: ui-monospace;
      cursor: default;
font-weight: bold;
      padding: 5px;
      border-radius: 14px;
}
.numCart{
    position: absolute;
    top: 30px;
    right: 730px;
    background: orange;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: none;
    justify-content: center;
    align-items: center;

}


  .item img{
    width: 200px;
    transition: .5s;
    cursor: pointer;
  }

  .item img:hover{
    transform: scale(1.1);
  }
    .loader {
    display: block;
    z-index: 999;
    position: fixed;
    top: 40%;
    right: 50%;
 width: 50px;
  height: 50px;
  border: 5px solid #ccc;          /* لون الخلفية */
  border-top: 5px solid #ff0000;   /* لون الدوران */
  border-radius: 50%;              /* دائرة */
  animation: spin .5s linear infinite;
  margin: 100px auto;              /* توسيط */
}

/* حركة الدوران */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (max-width: 600px) {
  html, body {
  
  overflow-x: hidden;
}
 
  header{
    width: 400px;
  }
  .logo  img{
    width: 200px;
  }
  .logo{
    width: 0px;
  }
   .logo img{
    width: 0px;
  }
  ul{
    position: relative;
    left: -67px;
    gap: 10px;
    margin-left: 60px;
  }
    .input{
      top: 110px;
      right: 380px;
      position: relative;
    width:300px;
 
  }
  .btnSearch{
    top: 112px;
      right: 440px;
      position: relative;
  }
  .cont{
    margin-left: 0px;
  }
}

/* تابلت */
@media (min-width: 601px) and (max-width: 992px) {
  
  .input{
    width:200px;
    margin-left: 50px;
  }
  .logo{
    width: 0px;
  }
   .logo img{
    width: 0px;
  }
  .cont{
    gap: 100px;
  }
  ul{
    margin-left: 30px;
  }
  
}

/* ديسك توب */
@media (min-width: 993px) and (max-width: 1200px) {


  .input {
    width: 200px;
    margin-left: 50px;
  }
}
